.searchContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--trans-bg);
  padding: 0.5rem 1rem;
  width: 30rem;
  border-radius: 1rem;
}

.searchContainer button {
  background-color: transparent;
  border: none;
  color: white;
}

button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.searchContainer input {
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 2.5rem;
}

.searchContainer input:focus {
  outline: none;
}
