.toggleContainer {
  display: flex;
  align-items: center;
  height: 2rem;
  width: 5rem;
  background-color: var(--trans-bg);
  border-radius: 0.5rem;
  padding: 0.1rem 0.2rem;
}

.flexEnd {
  justify-content: flex-end;
}
